<div class="row row-cols-1 row-cols-lg-2 g-4 justify-content-center">
  @if (careers$ | async; as careers) {

    @for (role of careers; track role.id) {

      <div class="col col-xl-5">

        <div class="card h-100">

          <div class="card-body">

            <h5 class="card-title"> {{ role.title }}</h5>

            <h6 class="mt-3 mb-1">Role Overview:</h6>

            <p class="mb-2">
              Bazaar Regularly exhibits amazing designer carryall products in the fashion world. This is a role filled with continuous amazement from one big wowing bag fashion innovation after another. Exclusive collections, limited editions and beautiful trendy pieces are just the beginning of Bazaar Regularly. Monthly workshops, seasonal bag designing conferences and yearly symposium are hosted by Bazaar Regularly, daring for the next grandest, swankiest, bourgeois bag from the gathering of inventors. This is all about the bags in fashion from providing designer assistance to rallying for bag feature innovation and most importantly, to help bring delight with an introduction to the very creative bags at Bazaar Regularly.
            </p>

            <h6 class="mb-1">Role Status:</h6> 
            <p class="mb-0">This position is open due to an existing role becoming vacant.</p>
          
              <h6>Key Skills and Capabilities:</h6>
              <p class="mb-0">The successful candidate will demonstrate:</p>
              <ul class="mb-0 mt-2">
                @for (skills of role.skills; track skills) {
                  <li>{{ skills }}</li>
                }
              </ul>
              
              <h6>Working Conditions and Expectations</h6>
                <ul>
                  <li><h6>Work Location:</h6></li>
                    <ul>
                      <li>{{ role.location }}</li>
                    </ul>
                  <li><h6>Schedule:</h6></li>
                  <ul>
                    @for (conditions of role.conditions; track conditions) {
                      <li>{{ conditions }}</li>
                    }
                  </ul>
                </ul>
                
              <h6>Compensation</h6>
              <div>The expected compensation range for this role is {{ role.compensation }} annually. Placement within the range will be based on demonstrated skills, relevant experience, and internal equity considerations. </div>

           
              <h6>Use of AI in Hiring</h6>
              <div>AI enabled tools are not used to support parts of the recruitment process, such as application screening or interview scheduling. All hiring decisions are made by human reviewers. </div>

           
              <h6>Accessibility and Fair Hiring Statement</h6>
              <div> We are committed to fair, equitable, and accessible hiring practices. Accommodations are available throughout the recruitment process upon request. </div>

           
              <h6>Record Retention Notice</h6>
              <div>In accordance with Ontario legislation, job postings and application materials are retained for a minimum of three years. </div>
              
          </div>  
        </div>

      </div>

    }

  }

</div>
