<h4 class="text-center">Share
    <a href="https://www.linkedin.com"><i class="bi bi-linkedin"></i></a>
    <a href="https://www.instagram.com"><i class="bi bi-instagram"></i></a>
    <a href="https://www.youtube.com"><i class="bi bi-youtube"></i></a>
    <a href="https://www.twitch.tv"><i class="bi bi-twitch"></i></a>
    <a href="https://www.pinterest.com"><i class="bi bi-pinterest"></i></a>
    <a href="https://www.facebook.com"><i class="bi bi-facebook"></i></a>
    <a href="https://www.reddit.com"><i class="bi bi-reddit"></i></a>
    <a href="https://bsky.app"><i class="bi bi-bluesky"></i></a>
    <a href="https://mastrodon.social"><i class="bi bi-mastodon"></i></a>
    <a href="https://discord.com"><i class="bi bi-discord"></i></a>
    <a href="https://desktop.telegram.org"><i class="bi bi-telegram"></i></a>
    <a href="https://open.spotify.com"><i class="bi bi-spotify"></i></a>
    <a href="https://signal.org"><i class="bi bi-signal"></i></a>
    <a href="https://web.whatsapp.com"><i class="bi bi-whatsapp"></i></a>
    <a href="https://www.messenger.com"><i class="bi bi-messenger"></i></a>
    <a href="https://www.wechat.com"><i class="bi bi-wechat"></i></a>
    <a [routerLink]="['/']"><i class="bi bi-link-45deg"></i></a>
  </h4>